<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link href="file:\\\C:\Users\Boris\source\repos\ConsoleApp1\ConsoleApp1\src\styles\bootstrap.css" rel="stylesheet" />
    <title></title>
</head>
<body>  
    <div class="card bg-dark text-white" style="height:600px; width:600px; overflow:hidden;">
        <img class="card-img" src="file:\\\C:\Users\Boris\source\repos\ConsoleApp1\ConsoleApp1\src\img\stars2x.jpg" alt="Card image" style="height:100%; width:100%;">
        <div class="card-img-overlay" style="background-color: rgba(0,0,0,0.2)">
            <div class="row">
                <div class="col">
                    <div class="rounded-circle border border-white" style="display:block; background-color: #7180B9;opacity:0.3; width:150px; height:150px; text-align:center; margin-bottom: -20px;">
                        <img src="file:\\\C:\Users\Boris\source\repos\ConsoleApp1\ConsoleApp1\src\img\Symbs\{2}.png" style="margin: 30px auto" />
                    </div>
                    <h5 class="card-title">{0}</h5>
                </div>
                <div class="col">
                    <h4>{3}</h4>
                </div>
            </div>
            <p class="card-text">
               {1}
            </p>
        </div>
    </div>
</body>
</html>